.Articles {
  margin: 20px;
  padding-top: 10px;
}

.card {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.card-img-top {
  max-height: 280px;

  vertical-align: middle;
}
